
/* Universal selector*/
*{
    font-family: 'Courier New', Courier, monospace;
}
/* element selector*/
h1 , h3{
    color: #b92b27;
}
button{
    color: black;
}
/* ID selector*/
 
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
/*class selector */
.upvote{
    background-color: aquamarine;
}
#div{
    background-color:black;
    color: white;
}
/* descendent selector */
p a {
    color: purple;
    background-color: yellow;
}

/* attribute selector */

input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}

